<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuochoang.kqsx">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/kqsx"
        android:name="com.wuochoang.kqsx.App"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kqsx"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wuochoang.kqsx.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wuochoang.kqsx.base.BaseSubActivity" />
    </application>

</manifest>